/* removing the default margin:8px that comes with the canvas
So I target the brody*/
*{
    margin: 0;
    padding: 0
}
body{
    background: black;
    /* stop scrolling and dragging for mobile devices to play game within boundries */
    overflow: hidden;
}

